@media only screen and (max-width: 600px) {
    .play img {
        width:60px;
        height:40 px;
    }
  }



.play {
    
    height: max(900px, 100vh);
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    
    
}

img{
    height:160px;
    width:auto;
    align-self: center;
    justify-self:center;
    cursor:pointer;
}